<header class="bg-dark text-white">
    <div class="container py-3">
        <h1>PC Store - CMS</h1>
        <h5 class="text-warning"><%= window %></h5>
        <div class="row">
            <div class="col-md-6 my-2">
                <p class="mb-0">Web design and develop by: <span class="badge"><a href="https://bit.ly/hernanreiq" class="text-warning text-decoration-none" target="_blank">Hernan.Reiq</a></span></p>
                <p class="mb-0">All rights reserved &copy;.</p>
            </div>
            <div class="col-md-6 my-2">
                <a href="/" class="btn btn-success w-100 <%- home_button %>"><h4 class="my-1">HOME <i class="fas fa-home"></i></h4></a>
            </div>
        </div>
    </div>
</header>