<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modal-title">Delete confirmation</h5>
            </div>
            <div class="modal-body">
               <h2>Are you sure you want to delete this product?</h2>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-main btn-danger" data-dismiss="modal">NO</button>
                <a id="btn_delete" class="btn btn-main btn-success">YES</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/modal.js"></script>