<%- include ('partials/head.html') %>
<%- include ('partials/header.html') %>
<main class="text-white">
    <div class="container my-5 container-main p-3 bg-dark">
        <h2 class="mb-3">What do you want to do?</h2>
        <div class="row">
            <div class="col-md-6">
                <a href="/create-product" class="btn btn-success btn-main w-100 py-3 my-2">Create a product <i class="fas fa-plus-circle"></i></a>
            </div>
            <div class="col-md-6">
                <a href="/get-all-products" class="btn btn-info btn-main w-100 py-3 my-2">See all products <i class="far fa-eye"></i></a>
            </div>
        </div>
    </div>
</main>
<%- include ('partials/final-part.html') %>